<div class="d-flex justify-content-center my-5">

  <form class="w-25" [formGroup]="singInForm" (ngSubmit)="singIn()" autocomplete="off">

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" required formControlName="email">
     <!--  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="pass" class="form-label">Password</label>
      <input type="password" class="form-control" id="pass" required formControlName="password">
    </div>

    <div *ngIf="messageError" class="alert alert-danger" role="alert">
      {{messageError}}
    </div>

   <div class="d-flex">
      <button type="submit"  [disabled]="!singInForm.valid" class="btn btn-primary me-3">Sing In</button>

      <div *ngIf="showSpinners"  class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
   </div>

  </form>

</div>

